<!DOCTYPE html>
<html>
<body>
  <h1>Загрузить файл</h1>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div style="background: #f0f0f0; padding: 10px; border: 1px solid #ccc;">
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
    </div> 
    {% endif %}  
  {% endwith %}
  
  <form action="/" method="POST" enctype="multipart/form-data">
    <input type="file" name="file" required>
    <input type="submit" value="Загрузить">
  </form>

  <div>
    {% for d in data %}
    <p>{{ d.uuid }}</p>
    {% endfor %}
  </div>
</body>
</html>